.content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  grid-template-rows: repeat(9, 1fr);

  width: 738px;
  max-width: 100%;
  /* margin-bottom: 50px; */

}


.childbox:focus {
  border-color: #56ad77;
}

.childbox:nth-child(3n),
.childbox:nth-child(9n),
.childbox:nth-child(18n) {
  border-right: 2px solid #fff;
}

.childbox:nth-child(3n+1),
.childbox:nth-child(9n+1),
.childbox:nth-child(18n+1) {
  border-left: 2px solid #fff;
}

.childbox:nth-child(-n+9) {
  border-top: 2px solid #fff;
}

.childbox:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 2px solid #fff;
}

.childbox:nth-child(n+73):nth-child(-n+81) {
  border-bottom: 2px solid #fff;
}

.childbox:nth-child(n+19):nth-child(-n+27) {
  border-bottom: 2px solid #fff;
}