body {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

h4,
h1,
h3 {
  margin: 30px 10px;
  text-decoration: underline;
  color: antiquewhite;
}
.information {
  height: auto;
  width: 90%;
  margin: auto;
  /* margin-left: 150px; */
}
.description {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
}
p {
  margin: 10px;
  text-align: left;
  color: rgb(176, 179, 180);
}
.para {
  margin-top: 50px;
  text-align: left;
  color: rgb(176, 179, 180);
}
strong {
  color: white;
}
