<%layout( "layouts/boilerplate.ejs" )%>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home.css">
    <div class="information">
        <h1>
            Sudoku Solver
        </h1>

        <div class="description">

            <h3>Introduction</h3>

            <p>
                Welcome to Sudoku Solver, where your Sudoku puzzles find their swift and accurate resolutions. Our page
                is dedicated to simplifying the Sudoku-solving process, ensuring that you spend less time grappling with
                numbers and more time enjoying the satisfaction of a completed puzzle.
            </p>
        </div>

        <h4>Key features</h4>
        <p class="para">
            <strong>Accessible Anytime ,Anywhere:</strong>
            Solve Sudoku puzzles on your terms. Our web page is accessible across various devices, ensuring that you can
            conquer puzzles whether you're at your desk or on the go with your mobile device.
        </p>
        <p class="para">
            <strong>Efficiency at its Core:</strong>
            We value your time. Our solver is designed for efficiency, generating solutions with speed and accuracy,
            allowing you to focus on the joy of solving rather than the intricacies of the process.
        </p>
        <p class="para">
            <strong>What is sudoku</strong>
            Sudoku, a popular number puzzle, is played on a 9x9 grid divided into 3x3 subgrids. The goal is to fill in
            the grid with numbers 1 to 9, ensuring no repetition in rows, columns, or subgrids. A small Sudoku grid
            involves a 4x4 or 6x6 layout, offering a more approachable challenge. Players start with given numbers and
            use logical deduction to complete the grid. It's a mentally stimulating and satisfying game suitable for all
            levels of puzzle enthusiasts. Enjoy the simplicity and logic of small Sudoku puzzles as you sharpen your
            skills!
        </p>
    </div>