<%layout( "layouts/boilerplate.ejs" )%>
    <link rel="stylesheet" href="/css/login.css">

    <main>
        <div class="container">
            <h1>Sign-up & Solve</h1>
            <form action="/user/signup" method="post">
                <div class="info"><label for="name">Name:</label>
                    <input type="text" id="name" name="username" placeholder="Enter your name">
                </div>
                <div class="info"><label for="email">Email :</label>
                    <input type="text" placeholder="Enter Email" name="email" id="email">
                </div>
                <div class="info"><label for="pass">Password: </label><input type="password" name="password" id="pass"
                        placeholder="Enter password">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </main>