<%layout( "layouts/boilerplate.ejs" )%>
    <link rel="stylesheet" href="/css/box.css">
    <link rel="stylesheet" href="/css/solution.css">
    <link rel="stylesheet" href="/css/nav.css">
    <h1>Sudoku Solver</h1>

    <div class="solution">
        <form action="/sudoku/<%=id%>/new" method="post">
            <%- include("../includes/box.ejs")%>
                <button>Submit</button>
        </form>
    </div>
    <script src="/js/box.js"></script>